#main {
  max-width: 500px;
  margin: auto;
  padding: 25px;
  border: 2px solid #888888;
  border-radius: 20px;
}
.question {
  margin-bottom: 15px;
  margin-left: 10px;
}
.options {
  margin-bottom: 15px;
}
#output {
  margin-top: 15px;
}
