#main {
  max-width: 500px;
  margin: auto;
  padding: 25px;
  border: 2px solid #888888;
  border-radius: 20px;
}
.question {
  margin-bottom: 15px;
  margin-left: 10px;
}
.options {
  margin-bottom: 15px;
}
#output {
  margin-top: 15px;
}
#submit{
  padding: 5px;
  font-weight: 700;
  color: green;
  border: 2px solid darkgreen;
  border-radius: 3px;
  background-color: lightgreen;
}
#submit:hover{
  background-color: lightblue;
  border: 3px solid blue;
  color: blue;
  cursor: pointer;
}
